* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
}

#main-nav {
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  height: 70px;
  font-family: 'Raleway';
}

#main-nav .navbar-brand {
  font-family: 'Heebo';
  font-weight: 700;
  color: #253b6e;
  font-size: 4vw;
  letter-spacing: .5px;
}

@media (max-width: 317px) {
  #main-nav .navbar-toggler {
    margin-bottom: 12px;
  }
}

#main-nav .navbar-toggler i {
  color: #253B6E;
}

#main-nav .navbar-toggler i:hover {
  color: #0F1B37;
}

#main-nav .navbar-nav {
  font-size: 20px;
}

@media (max-width: 767px) {
  #main-nav .navbar-nav .nav-item.show {
    padding-bottom: 8px;
  }
}

#main-nav .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  display: inline-block;
  color: #FFF;
  -webkit-transition: color 0.6s ease 0s;
  transition: color 0.6s ease 0s;
}

#main-nav .navbar-nav .nav-item .nav-link.active, #main-nav .navbar-nav .nav-item .nav-link:hover {
  font-weight: 600;
}

#main-nav .navbar-nav .nav-item .nav-link.active:after, #main-nav .navbar-nav .nav-item .nav-link:hover:after {
  width: 100%;
}

#main-nav .navbar-nav .nav-item .nav-link:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #FFF;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#main-nav.fixed-solid {
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  background: #FFF;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
}

#main-nav.fixed-solid .navbar-nav .nav-item .nav-link {
  display: inline-block;
  color: #253B6E;
  -webkit-transition: color 0.6s ease 0s;
  transition: color 0.6s ease 0s;
}

#main-nav.fixed-solid .navbar-nav .nav-item .nav-link.active, #main-nav.fixed-solid .navbar-nav .nav-item .nav-link:hover {
  font-weight: 600;
}

#main-nav.fixed-solid .navbar-nav .nav-item .nav-link.active:after, #main-nav.fixed-solid .navbar-nav .nav-item .nav-link:hover:after {
  width: 100%;
}

#main-nav.fixed-solid .navbar-nav .nav-item .nav-link:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #253B6E;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.carousel-fade .carousel-inner {
  max-height: 500px;
}

.carousel-fade .carousel-inner .carousel-item .overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.carousel-fade .carousel-inner .carousel-item .brand-header {
  position: absolute;
  top: 350px;
  left: 10%;
  color: #FFF;
  font-family: 'Heebo';
}

@media (max-width: 767px) {
  .carousel-fade .carousel-inner .carousel-item .brand-header {
    display: none;
  }
}

main .article-list {
  background-color: #f1f1f1;
  color: #313437;
}

main .article-list .row h2 {
  font-family: 'Raleway';
  font-weight: 700;
  padding-top: 40px;
}

@media (max-width: 767px) {
  main .article-list .row h2 {
    padding-top: 30px;
    font-size: 24px;
  }
}

main .article-list .row.articles {
  padding-bottom: 40px;
}

main .article-list .row.articles .item {
  padding-top: 40px;
  min-height: 425px;
  text-align: center;
}

@media (max-width: 575px) {
  main .article-list .row.articles .item {
    border-bottom: 1px solid;
    padding: 40px 0px 15px 0px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

main .article-list .row.articles .item a {
  text-decoration: none;
  font-family: 'Heebo';
}

main .article-list .row.articles .item a.action {
  opacity: .85;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  color: #253B6E;
}

main .article-list .row.articles .item a.action:hover {
  color: #007bff;
  opacity: 1;
}

main .article-list .row.articles .item a .img-fluid {
  width: 100%;
  height: auto;
}

@media (max-width: 575px) {
  main .article-list .row.articles .item a .img-fluid {
    max-height: 360px;
  }
}

@media (min-width: 576px) {
  main .article-list .row.articles .item a .img-fluid {
    height: 150px;
  }
}

@media (min-width: 767px) {
  main .article-list .row.articles .item a .img-fluid {
    height: 200px;
  }
}

@media (min-width: 1200px) {
  main .article-list .row.articles .item a .img-fluid {
    height: 250px;
  }
}

main .article-list .row.articles .item h3.name {
  font-family: 'Raleway';
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  margin-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .article-list .row.articles .item h3.name:hover {
  color: #253B6E;
}

main .article-list .row.articles .item .description {
  font-family: 'Montserrat';
  text-align: left;
  color: #5C5E5F;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .contact-section {
  background-color: #f1f1f1;
}

main .contact-section .container .contact-wrap {
  background-color: #FFF;
  border-radius: 7px;
  -webkit-box-shadow: 8px 8px 16px #8f8f8f,  -8px -8px 16px #ffffff;
          box-shadow: 8px 8px 16px #8f8f8f,  -8px -8px 16px #ffffff;
}

main .contact-section .container .contact-wrap h2 {
  font-family: 'Raleway';
  font-weight: 700;
}

main .contact-section .container .contact-wrap h4 {
  font-family: 'Raleway';
  font-weight: 500;
  color: #253B6E;
}

main .contact-section .container .contact-wrap .row ul li {
  font-size: 16px;
}

@media (max-width: 576px) {
  main .contact-section .container .contact-wrap h2 {
    font-size: 7vw;
  }
  main .contact-section .container .contact-wrap h4 {
    font-size: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  main .contact-section .map-loc {
    height: 300px;
  }
}

main .contact-section .contact-detail .row li {
  list-style: none;
  margin-left: 40px;
  font-size: 18px;
  color: #5C5E5F;
  font-family: 'Montserrat';
}

main .contact-section .contact-detail .row li:before {
  font-family: 'FontAwesome';
  float: left;
  margin-top: -5px;
  color: #253B6E;
}

main .contact-section .contact-detail .row .addr:before {
  content: '\f041';
  margin-left: -1em;
  font-size: 22px;
}

main .contact-section .contact-detail .row .phone:before {
  content: '\f095';
  margin-left: -1em;
  font-size: 22px;
}

main .breadcrumb-bg {
  margin-top: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#F1F1F1));
  background: linear-gradient(180deg, #E9E9E9, #F1F1F1);
  min-height: 350px;
}

main .content .container .breadcrumb {
  font-family: 'Heebo';
  margin-top: -320px;
  background-color: transparent;
}

main .content .container .breadcrumb .breadcrumb-item {
  font-size: 16px;
}

main .content .container .breadcrumb .breadcrumb-item.active {
  font-weight: 700;
  color: #253B6E;
}

main .content .container .row .main-post h3 {
  font-family: 'Heebo';
}

main .content .container .row .main-post .card {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

main .content .container .row .main-post .card .card-img-top {
  width: 100%;
  height: 350px;
}

@media (max-width: 576px) {
  main .content .container .row .main-post .card .card-img-top {
    height: 200px;
  }
}

@media (max-width: 320px) {
  main .content .container .row .main-post .card .card-img-top {
    max-height: 150px;
  }
}

main .content .container .row .main-post .card .card-body .title-link:hover {
  text-decoration: none;
  color: #253B6E;
}

main .content .container .row .main-post .card .card-body .title-link .card-title {
  font-family: 'Raleway';
  font-weight: 700;
}

main .content .container .row .main-post .card .card-body .card-text {
  font-family: 'Montserrat';
  font-size: 18px;
}

main .content .container .row .main-post .card .card-body .btn-link {
  font-family: 'Heebo';
  opacity: .85;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  color: #253B6E;
}

main .content .container .row .main-post .card .card-body .btn-link:hover {
  color: #007bff;
  opacity: 1;
}

main .content .container .row .main-post .pagination .page-link {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 18px;
}

main .content .container .row .other-post {
  position: -webkit-sticky;
  position: sticky;
  top: 2.5rem;
  width: 100%;
  height: 100%;
}

main .content .container .row .other-post .card {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

main .content .container .row .other-post .card.wrap {
  padding: 20px;
}

main .content .container .row .other-post .card .card-title {
  font-family: 'Heebo';
}

main .content .container .row .other-post .card form {
  font-family: 'Heebo';
}

main .content .container .row .other-post .card form .btn-search {
  padding: 5px 15px;
  border-radius: 0px 0.25rem 0.25rem 0px;
}

main .content .container .row .other-post .card.cat ul li .btn-link {
  font-family: 'Raleway';
  color: #253B6E;
}

main .content .container .row .other-post .card.cat ul li .btn-link:hover {
  color: #007bff;
  opacity: 1;
}

main .content .container .row .other-post .card .other-post-item a {
  font-size: 16px;
}

@media (max-width: 768px) {
  main .content .container .row .other-post .card .other-post-item a {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  main .content .container .row .other-post .card .other-post-item a {
    font-size: 4vw;
  }
}

main .content .container .row .other-post .card .other-post-item a:hover {
  text-decoration: none;
  color: #253B6E;
}

main .content .container .row .other-post .card .other-post-item a .card-img-top {
  height: auto;
  max-width: 100%;
  max-height: 150px;
}

@media (max-width: 992px) {
  main .content .container .row .other-post .card .other-post-item a .card-img-top {
    max-height: 110px;
  }
}

@media (max-width: 768px) {
  main .content .container .row .other-post .card .other-post-item a .card-img-top {
    max-height: 250px;
  }
}

main .content .container .row .other-post .card .other-post-item a .card-body {
  padding: 10px;
}

main .content .container .row .other-post .card .list-unstyled li a {
  padding: 0px;
}

footer {
  margin-top: 150px;
  min-height: 90px;
  background-color: #253B6E;
  color: #FFF;
}

footer .container .row h1 {
  font-family: 'Heebo';
}

footer .container .row .card {
  background: transparent;
  border: none;
}

@media (max-width: 992px) {
  footer .container .row .card .img-footer {
    width: 80%;
  }
}

@media (max-width: 767px) {
  footer .container .row .card .img-footer {
    width: 60%;
  }
}

footer .container .row .card .img-footer .img-fluid {
  width: 100%;
  min-width: 100px;
  max-height: 140px;
  border-radius: 3px;
}

@media (max-width: 440px) {
  footer .container .row .card .img-footer .img-fluid {
    max-height: 125px;
  }
}

footer .container .row .card .foo-detail {
  position: relative;
  min-height: 80px;
}

@media (max-width: 767px) {
  footer .container .row .card .foo-detail {
    float: right;
    width: 70%;
  }
}

footer .container .row .card .foo-detail a {
  color: #DDDCDC;
}

footer .container .row .card .foo-detail a:hover {
  text-decoration: none;
  color: #FFF;
}

footer .container .row .card .foo-detail a .card-title {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Raleway';
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer .container .row .card .foo-detail .date {
  position: absolute;
  bottom: 0px;
  color: #c4c4c5;
  font-family: 'Montserrat';
}

footer .container .row .card .foo-detail .date p {
  font-size: 14px;
}

footer .container-fluid {
  background-color: #F1F1F1 !important;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Heebo';
}

@media (max-width: 767px) {
  .navbar-expand-md .container {
    min-width: 100%;
    background-color: #FFF;
    padding-left: 15px;
    padding-right: 15px;
  }
  #main-nav {
    background-color: #FFF;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  }
  #main-nav .navbar-nav .nav-item .nav-link {
    display: inline-block;
    color: #253B6E;
    -webkit-transition: color 0.6s ease 0s;
    transition: color 0.6s ease 0s;
  }
  #main-nav .navbar-nav .nav-item .nav-link.active, #main-nav .navbar-nav .nav-item .nav-link:hover {
    font-weight: 600;
  }
  #main-nav .navbar-nav .nav-item .nav-link.active:after, #main-nav .navbar-nav .nav-item .nav-link:hover:after {
    width: 100%;
  }
  #main-nav .navbar-nav .nav-item .nav-link:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #253B6E;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
}

@media (max-width: 576px) {
  #main-nav .navbar-brand {
    font-size: 20px;
  }
  #main-section .main-heading h2 {
    font-size: 26px;
  }
}
/*# sourceMappingURL=style.css.map */